<% provide(:title, "About") %>

<h1>关于</h1>
<p>
  <a href="http://www.railstutorial.org/"><em>Ruby on Rails Tutorial</em></a>
  是一本关于用
  <a href="http://rubyonrails.org/">Ruby on Rails</a>
  来开发网页应用
  <a href="http://www.railstutorial.org/book">书</a>
  和
  <a href="http://screencasts.railstutorial.org/">系列视频</a>
  教程。 这个网站就是这本书的简单应用。
</p>

<br><br><br><br>
<!DOCTYPE html>
<html>
<head>
<title>邹夏孟的简历</title>
<meta http-equiv="Content-Type" content="text/html; charset=gb18030"/>
</head>
<body>
<div style="width: 802px;margin: 0 auto;text-align: left;background-color: #fff;box-shadow: 0 0 4px rgba(0,0,0,.15);">
  <table width="802" border="0" cellspacing="0" cellpadding="0" style="background-color:#fff; color: #3b3b3b; table-layout: fixed; border: 1px solid #dadada;">
  <tbody>
  <tr>
    <td>
      <div style="height: 6px; background-color: #788396; font-size: 1px; line-height: 6px; width: 620px;">
      </div>
    </td>
    <td width="180">
      <div style="height: 6px; background-color: #788396; font-size: 1px; line-height: 6px; width: 180px;">
      </div>
    </td>
  </tr>
  <tr>
    <td valign="top" style="padding: 34px 20px 0 56px">
      <table width="544" border="0" cellspacing="0" cellpadding="0">
      <tbody>
      <tr>
        <td colspan="2" style="padding: 8px 0 19px 7px; font-size: 30px;font-weight: bold;color: #374760; line-height: 1; font-family: 'lucida Grande', Verdana;">
          邹夏孟
        </td>
      </tr>
      <tr>
        <td width="151" valign="top" style="padding: 0 0 5px 3px;">
          <table border="0" cellspacing="0" cellpadding="0">
          <tbody>
          <tr>
            <td style="padding: 0 0 3px 4px; word-break: break-all;">
              <table border="0" cellspacing="0" cellpadding="0">
              <tbody>
              <tr>
                <td width="28" style="font-size: 12px; line-height: 18px; word-break: break-all; word-wrap: break-word; font-family: 'lucida Grande', Verdana;">
                  年龄
                </td>
                <td style="padding-left: 4px;font-size: 12px; line-height: 18px; word-break: break-all; word-wrap: break-word; font-family: 'lucida Grande', Verdana;">
                  23岁
                </td>
              </tr>
              </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td style="padding: 0 0 3px 4px; word-break: break-all;">
              <table border="0" cellspacing="0" cellpadding="0">
              <tbody>
              <tr>
                <td valign="top" width="28" style="font-size: 12px; line-height: 18px; word-break: break-all; word-wrap: break-word; font-family: 'lucida Grande', Verdana;">
                  手机
                </td>
                <td style="padding-left: 4px;font-size: 12px; line-height: 18px; word-break: break-all; word-wrap: break-word; font-family: 'lucida Grande', Verdana;">
                  15179191677
                </td>
              </tr>
              </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td style="padding: 0 0 3px 4px; word-break: break-all;">
              <table border="0" cellspacing="0" cellpadding="0">
              <tbody>
              <tr>
                <td width="28" style="font-size: 12px; line-height: 18px; word-break: break-all; word-wrap: break-word; font-family: 'lucida Grande', Verdana;">
                  学历
                </td>
                <td style="padding-left: 4px;font-size: 12px; line-height: 18px; word-break: break-all; word-wrap: break-word; font-family: 'lucida Grande', Verdana;">
                  本科学历<a href="http://www.w3school.com.cn/" target="_blank">Visit W3School!</a>
                </td>
              </tr>
              </tbody>
              </table>
            </td>
          </tr>
          </tbody>
          </table>
        </td>
        <td valign="top" style="padding-bottom: 5px;">
          <table border="0" cellspacing="0" cellpadding="0">
          <tbody>
          <tr>
            <td style="padding: 0 0 3px 4px; word-break: break-all;">
              <table border="0" cellspacing="0" cellpadding="0">
              <tbody>
              <tr>
                <td style="font-size: 12px; line-height: 18px; word-break: break-all; word-wrap: break-word; font-family: 'lucida Grande', Verdana;">
                  性别
                </td>
                <td style="padding-left: 8px;font-size: 12px; line-height: 18px; word-break: break-all; word-wrap: break-word; font-family: 'lucida Grande', Verdana;">
                  男
                </td>
              </tr>
              </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td style="padding: 0 0 3px 4px; word-break: break-all;">
              <table border="0" cellspacing="0" cellpadding="0">
              <tbody>
              <tr>
                <td style="font-size: 12px; line-height: 18px; word-break: break-all; word-wrap: break-word; font-family: 'lucida Grande', Verdana;">
                  邮箱
                </td>
                <td style="padding-left: 8px;font-size: 12px; line-height: 18px; word-break: break-all; word-wrap: break-word; font-family: 'lucida Grande', Verdana;">
                  695312886@qq.com
                </td>
              </tr>
              </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td style="padding: 0 0 3px 4px; word-break: break-all;">
              <table border="0" cellspacing="0" cellpadding="0">
              <tbody>
              <tr>
                <td style="font-size: 12px; line-height: 18px; word-break: break-all; word-wrap: break-word; font-family: 'lucida Grande', Verdana;">
                  工作年限
                </td>
                <td style="padding-left: 8px;font-size: 12px; line-height: 18px; word-break: break-all; word-wrap: break-word; font-family: 'lucida Grande', Verdana;">
                  应届毕业生
                </td>
              </tr>
              </tbody>
              </table>
            </td>
          </tr>
          </tbody>
          </table>
        </td>
      </tr>
      </tbody>
      </table>
    </td>
    <td valign="top" style="padding: 28px 0 7px; text-align: center; line-height: 0;">
      <div>
        <img src="http://rescdn.qqmail.com/zh_CN/htmledition/images/resume/template/ico_t2AvatarInstead_png82082c8.png" name="ico_t2AvatarInstead.png" alt="系统头像" width="100" height="100" style="width: 100px;height: 100px; padding: 20px 0; border: 1px solid #fff;">
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="2" style="padding: 0 22px 50px;">
      <div style="font-size: 12px; line-height: 18px; word-break: break-all; word-wrap: break-word; font-family: 'lucida Grande', Verdana;display: block">
        <div style="font-size: 1px;height: 7px; line-height: 7px;">
        </div>
        <table width="756" border="0" cellspacing="0" cellpadding="0">
        <tbody>
        <tr>
          <td colspan="2" style="position: relative; padding: 7px 40px 8px 8px; font-size: 16px; font-weight: bold; color: #374760; line-height: 1; font-family: 'lucida Grande', Verdana;">
            <img name="ico_t2EduExp.png" style="width: 24px; height: 24px; vertical-align: -5px;" src="http://rescdn.qqmail.com/zh_CN/htmledition/images/resume/template/ico_t2EduExp_png820704c.png" alt="教育经历"><span style="padding-left: 6px;">教育经历</span>
          </td>
        </tr>
        <tr index="0">
          <td width="138" valign="top" style="padding: 0 0 8px 37px;font-size: 12px; line-height: 18px; word-break: break-all; word-wrap: break-word; font-family: 'lucida Grande', Verdana;">
            <div style="color: #777;">
              2011.9&nbsp;-&nbsp;2015.6
            </div>
          </td>
          <td valign="top" style="padding: 0 36px 0 14px;font-size: 12px; line-height: 18px; word-break: break-all; word-wrap: break-word; font-family: 'lucida Grande', Verdana;">
            <div style="font-size: 12px; font-weight: bold;">
              江西师范大学&nbsp;计算机科学与技术&nbsp;本科
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div style="font-size: 1px;font-size: 1px;height: 7px; line-height: 7px;">
            </div>
          </td>
        </tr>
        </tbody>
        </table>
      </div>
      <div style="font-size: 12px; line-height: 18px; word-break: break-all; word-wrap: break-word; font-family: 'lucida Grande', Verdana;display: block">
        <div style="font-size: 1px;height: 7px; line-height: 7px;">
        </div>
        <table width="756" border="0" cellspacing="0" cellpadding="0">
        <tbody>
        <tr>
          <td colspan="2" style="position: relative; padding: 7px 40px 8px 8px; font-size: 16px; font-weight: bold; color: #374760; line-height: 1; font-family: 'lucida Grande', Verdana;">
            <img name="ico_t2Awards.png" style="width: 24px; height: 24px; vertical-align: -5px;" src="http://rescdn.qqmail.com/zh_CN/htmledition/images/resume/template/ico_t2Awards_png820552d.png" alt="获奖情况"><span style="padding-left: 6px;">获奖情况</span>
          </td>
        </tr>
        <tr index="0">
          <td width="138" valign="top" style="padding: 0 0 8px 37px;font-size: 12px; line-height: 18px; word-break: break-all; word-wrap: break-word; font-family: 'lucida Grande', Verdana;">
            <div style="color: #777;">
              2012.12
            </div>
          </td>
          <td valign="top" style="padding: 0 36px 0 14px;font-size: 12px; line-height: 18px; word-break: break-all; word-wrap: break-word; font-family: 'lucida Grande', Verdana;">
            <div style="padding-top: 1px; font-size: 14px; font-weight: bold;">
              华东交通大学冬季&nbsp;ACM&nbsp;程序设计竞赛一等奖
            </div>
          </td>
        </tr>
        <tr index="1">
          <td width="138" valign="top" style="padding: 0 0 8px 37px;font-size: 12px; line-height: 18px; word-break: break-all; word-wrap: break-word; font-family: 'lucida Grande', Verdana;">
            <div style="color: #777;">
              2012.12
            </div>
          </td>
          <td valign="top" style="padding: 0 36px 0 14px;font-size: 12px; line-height: 18px; word-break: break-all; word-wrap: break-word; font-family: 'lucida Grande', Verdana;">
            <div style="padding-top: 1px; font-size: 14px; font-weight: bold;">
              三等奖学金
            </div>
          </td>
        </tr>
        <tr index="2">
          <td width="138" valign="top" style="padding: 0 0 8px 37px;font-size: 12px; line-height: 18px; word-break: break-all; word-wrap: break-word; font-family: 'lucida Grande', Verdana;">
            <div style="color: #777;">
              2012.4
            </div>
          </td>
          <td valign="top" style="padding: 0 36px 0 14px;font-size: 12px; line-height: 18px; word-break: break-all; word-wrap: break-word; font-family: 'lucida Grande', Verdana;">
            <div style="padding-top: 1px; font-size: 14px; font-weight: bold;">
              春季ACM程序设计决赛二等奖
            </div>
          </td>
        </tr>
        <tr index="3">
          <td width="138" valign="top" style="padding: 0 0 8px 37px;font-size: 12px; line-height: 18px; word-break: break-all; word-wrap: break-word; font-family: 'lucida Grande', Verdana;">
            <div style="color: #777;">
              2012.2
            </div>
          </td>
          <td valign="top" style="padding: 0 36px 0 14px;font-size: 12px; line-height: 18px; word-break: break-all; word-wrap: break-word; font-family: 'lucida Grande', Verdana;">
            <div style="padding-top: 1px; font-size: 14px; font-weight: bold;">
              第四届大学生学术科技节程序设计大赛三等奖
            </div>
          </td>
        </tr>
        </tbody>
        </table>
      </div>
      <div style="font-size: 12px; line-height: 18px; word-break: break-all; word-wrap: break-word; font-family: 'lucida Grande', Verdana;display: block">
        <div style="font-size: 1px;height: 7px; line-height: 7px;">
        </div>
        <table width="756" border="0" cellspacing="0" cellpadding="0">
        <tbody>
        <tr>
          <td colspan="2" style="position: relative; padding: 7px 40px 8px 8px; font-size: 16px; font-weight: bold; color: #374760; line-height: 1; font-family: 'lucida Grande', Verdana;">
            <img name="ico_t2ProfessionalSkills.png" style="width: 24px; height: 24px; vertical-align: -5px;" src="http://rescdn.qqmail.com/zh_CN/htmledition/images/resume/template/ico_t2ProfessionalSkills_png820552d.png" alt="专业技能"><span style="padding-left: 6px;">专业技能</span>
          </td>
        </tr>
        <tr index="0">
          <td width="138" valign="top" style="padding: 0 0 8px 37px;font-size: 12px; line-height: 18px; word-break: break-all; word-wrap: break-word; font-family: 'lucida Grande', Verdana;">
            <div style="padding-top: 1px; font-size: 14px; font-weight: bold;">
              编程语言语言
            </div>
          </td>
          <td valign="top" style="font-size: 12px; line-height: 18px; word-break: break-all; word-wrap: break-word; font-family: 'lucida Grande', Verdana; padding: 1px 38px 8px 14px;">
            <div style="">
              <div>
                1、熟练使用&nbsp;C&nbsp;语言，成绩优秀，能够快速理解代码。
              </div>
              <div>
                2、能够使用&nbsp;ruby&nbsp;语言进行网站开发。
              </div>
              <div>
                3、能够使用&nbsp;gcc&nbsp;编译器和&nbsp;GDB&nbsp;调试器进行的&nbsp;C&nbsp;程序开发。
              </div>
            </div>
          </td>
        </tr>
        <tr index="1">
          <td width="138" valign="top" style="padding: 0 0 8px 37px;font-size: 12px; line-height: 18px; word-break: break-all; word-wrap: break-word; font-family: 'lucida Grande', Verdana;">
            <div style="padding-top: 1px; font-size: 14px; font-weight: bold;">
              网站开发
            </div>
          </td>
          <td valign="top" style="font-size: 12px; line-height: 18px; word-break: break-all; word-wrap: break-word; font-family: 'lucida Grande', Verdana; padding: 1px 38px 8px 14px;">
            <div style="">
              <div>
                1、能够使用&nbsp;ruby&nbsp;on&nbsp;rails&nbsp;框架编写网站。
              </div>
              <div>
                2、会部署应用到网站服务器。
              </div>
              <div>
                3、有自己编写个人网站&nbsp;anyruby.com。
              </div>
            </div>
          </td>
        </tr>
        <tr index="2">
          <td width="138" valign="top" style="padding: 0 0 8px 37px;font-size: 12px; line-height: 18px; word-break: break-all; word-wrap: break-word; font-family: 'lucida Grande', Verdana;">
            <div style="padding-top: 1px; font-size: 14px; font-weight: bold;">
              git&nbsp;
            </div>
          </td>
          <td valign="top" style="font-size: 12px; line-height: 18px; word-break: break-all; word-wrap: break-word; font-family: 'lucida Grande', Verdana; padding: 1px 38px 8px 14px;">
            <div style="">
              <div>
                会使用版本控制软件&nbsp;git&nbsp;进行备份和恢复。
              </div>
            </div>
          </td>
        </tr>
        </tbody>
        </table>
      </div>
      <div style="font-size: 12px; line-height: 18px; word-break: break-all; word-wrap: break-word; font-family: 'lucida Grande', Verdana;display: block">
        <div style="font-size: 1px;height: 7px; line-height: 7px;">
        </div>
        <table width="756" border="0" cellspacing="0" cellpadding="0">
        <tbody>
        <tr>
          <td colspan="2" style="position: relative; padding: 7px 40px 8px 8px; font-size: 16px; font-weight: bold; color: #374760; line-height: 1; font-family: 'lucida Grande', Verdana;">
            <img name="ico_t2SelfEvaluation.png" style="width: 24px; height: 24px; vertical-align: -5px;" src="http://rescdn.qqmail.com/zh_CN/htmledition/images/resume/template/ico_t2SelfEvaluation_png820552d.png" alt="自我评价"><span style="padding-left: 6px;">自我评价</span>
          </td>
        </tr>
        <tr>
          <td style="padding: 0 38px 7px 38px;font-size: 12px; line-height: 18px; word-break: break-all; word-wrap: break-word; font-family: 'lucida Grande', Verdana;">
            <div style="">
              <div>
                理解能力较强，逻辑清晰。
              </div>
            </div>
          </td>
        </tr>
        </tbody>
        </table>
      </div>
      <div>
        <div>
          <div style="display: ">
            <div style="font-size: 1px;height: 7px; line-height: 7px;">
            </div>
            <table width="756" border="0" cellspacing="0" cellpadding="0" index="0">
            <tbody>
            <tr>
              <td colspan="2" style="position: relative; padding: 7px 40px 8px 8px; font-size: 16px; font-weight: bold; color: #374760; line-height: 1; font-family: 'lucida Grande', Verdana;">
                <img name="ico_t2Custom.png_37881" style="width: 24px; height: 24px; vertical-align: -5px;" src="http://rescdn.qqmail.com/zh_CN/htmledition/images/resume/template/ico_t2Custom_png820552d.png" alt="英语语言能力"><span style="padding-left: 6px;">英语语言能力</span>
              </td>
            </tr>
            <tr>
              <td style="padding: 0 38px 7px 38px;font-size: 12px; line-height: 18px; word-break: break-all; word-wrap: break-word; font-family: 'lucida Grande', Verdana;">
                <div style="">
                  <div>
                    英语级别：大学英语考试四级
                  </div>
                  <div>
                    遇到问题会查看问题日志，也基本能够看懂英文网站。
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
            </table>
          </div>
        </div>
      </div>
      <div>
        <div>
          <div style="display: ">
            <div style="font-size: 1px;height: 7px; line-height: 7px;">
            </div>
            <table width="756" border="0" cellspacing="0" cellpadding="0" index="1">
            <tbody>
            <tr>
              <td colspan="2" style="position: relative; padding: 7px 40px 8px 8px; font-size: 16px; font-weight: bold; color: #374760; line-height: 1; font-family: 'lucida Grande', Verdana;">
                <img name="ico_t2Custom.png_79225" style="width: 24px; height: 24px; vertical-align: -5px;" src="http://rescdn.qqmail.com/zh_CN/htmledition/images/resume/template/ico_t2Custom_png820552d.png" alt="ruby&nbsp;on&nbsp;rails项目&nbsp;－&nbsp;简单微博"><span style="padding-left: 6px;">ruby&nbsp;on&nbsp;rails项目&nbsp;－&nbsp;简单微博</span>
              </td>
            </tr>
            <tr>
              <td style="padding: 0 38px 7px 38px;font-size: 12px; line-height: 18px; word-break: break-all; word-wrap: break-word; font-family: 'lucida Grande', Verdana;">
                <div style="">
                  <div>
                    1、可以在互联网（个人域名&nbsp;anyruby.com）上访问。
                  </div>
                  <div>
                    2、帐号：邮件注册、登录和邮件密码重置的在线服务功能。
                  </div>
                  <div>
                    3、微博：发布（图片、文字都可用）和删除微博。
                  </div>
                  <div>
                    4、管理员可以删除用户或者删除某条微博。
                  </div>
                  <div>
                    5、网页源代码在&nbsp;https://github.com/zigzagpig/anyruby&nbsp;。
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
            </table>
          </div>
        </div>
      </div>
      <div>
        <div>
          <div style="display: ">
            <div style="font-size: 1px;height: 7px; line-height: 7px;">
            </div>
            <table width="756" border="0" cellspacing="0" cellpadding="0" index="2">
            <tbody>
            <tr>
              <td colspan="2" style="position: relative; padding: 7px 40px 8px 8px; font-size: 16px; font-weight: bold; color: #374760; line-height: 1; font-family: 'lucida Grande', Verdana;">
                <img name="ico_t2Custom.png_40031" style="width: 24px; height: 24px; vertical-align: -5px;" src="http://rescdn.qqmail.com/zh_CN/htmledition/images/resume/template/ico_t2Custom_png820552d.png" alt="C&nbsp;语言项目&nbsp;－&nbsp;象棋游戏程序"><span style="padding-left: 6px;">C&nbsp;语言项目&nbsp;－&nbsp;象棋游戏程序</span>
              </td>
            </tr>
            <tr>
              <td style="padding: 0 38px 7px 38px;font-size: 12px; line-height: 18px; word-break: break-all; word-wrap: break-word; font-family: 'lucida Grande', Verdana;">
                <div style="">
                  <div>
                    功能：
                  </div>
                  <div>
                    1、从对局到赢棋的全过程
                  </div>
                  <div>
                    2、打谱棋谱
                  </div>
                  <div>
                    3、简单的文字界面
                  </div>
                  <div>
                    4、源码在&nbsp;https://github.com/zigzagpig/simple_chess/blob/master/chess.c
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
            </table>
          </div>
        </div>
      </div>
    </td>
  </tr>
  </tbody>
  </table>
</div>
</body>
</html>
<style>
  body{background:#fff;margin:0;padding:10px;}
</style>