<% provide(:title, 'Contact') %>

<h1>联系我</h1>

<p>
  <span class="glyphicon glyphicon-earphone" aria-hidden="true">
  </span>
  手机号码 15179191677<br>

  <span class="glyphicon glyphicon-tint" aria-hidden="true">
  </span>
  github地址
  <a href="https://github.com/zigzagpig">https://github.com/zigzagpig</a><br>

  <span class="glyphicon glyphicon-envelope" aria-hidden="true">
  </span>
  我的邮件地址是：<a href="mailto:zigzagpigx@gmail.com">zigzagpigx@gmail.com</a>。
</p>