<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<div class="row">
  <div class = "col-md-6 col-md-offset-3">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="喵,快搜吧!">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button">搜索</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
</center>
</h1>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>